<h1>New Comment</h1>

<form action="<%= comments_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Content:
        <textarea name="comment[content]" placeholder="Type new comment..." cols="65" rows="10"></textarea>
    </label>

    <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">
    <input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">

    <button>Submit Comment</button>
</form>