/* PHASE 3: Forms */

.content-main {
    display: flex;
}

.content-main a {
    height: 58px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20px;
}

.main-form {
    border: 1px solid rgb(191, 191, 191);
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    padding: 15px;
    height: 330px;
}

.main-form > * {
    margin: 10px 0px;
}

.main-form .input {
    display: flex;
    flex-direction: column;
}

.main-form .input label {
    font-weight: bold;
    margin-bottom: 6px;
}

.main-form .input input {
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    padding: 0px 7px;
    height: 35px;
}

.main-form .input textarea {
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    padding: 7px;
    /* height: 30px; */
}

.main-form .submit button {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: limegreen;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 6px #222;  
}

.main-form .submit button:hover {
    -webkit-box-shadow: 3px 3px 2px #222;  
}