<ul class="sections-dropdown">
    <li><a href="">World</a></li>
    <li class="subsections-dropdown"><a href="">San Francisco</a>
        <ul>
            <div class="arrow-left"></div>
            <li>San Francisco</li>
            <li><a href="">Students</a></li>
            <li><a href="">Teaching Assistants</a></li>
            <li><a href="">Instructors</a></li>
            <li><a href="">Career Advisors</a></li>
            <li><a href="">Cats</a></li>
        </ul>
    </li>
    <li><a href="">New York</a></li>
    <li class="subsections-dropdown"><a href="">Bootcamp Prep</a>
        <ul>
            <div class="arrow-left"></div>
            <li>Bootcamp Prep</li>
            <li><a href="">Students</a></li>
            <li><a href="">Instructors</a></li>
            <li><a href="">Cats</a></li>
        </ul>
    </li>
    <li><a href="">Jumpstart</a></li>
    <li class="subsections-dropdown"><a href="">Online</a>
        <ul>
            <div class="arrow-left"></div>
            <li>Online</li>
            <li><a href="">Immersive</a></li>
            <li><a href="">Bootcamp Prep</a></li>
            <li><a href="">Cats</a></li>
        </ul>
    </li>
    <li><a href="">Marketing</a></li>
    <li class="subsections-dropdown"><a href="">Sales</a>
        <ul>
            <div class="arrow-left"></div>
            <li>Sales</li>
            <li><a href="">Associates</a></li>
            <li><a href="">Analytics</a></li>
            <li><a href="">Cats</a></li>
        </ul>
    </li>
    <li><a href="">TalentMatch</a></li>
    <li class="subsections-dropdown"><a href="">Alumni</a>
        <ul>
            <div class="arrow-left"></div>
            <li>Alumni</li>
            <li><a href="">Students</a></li>
            <li><a href="">Companies</a></li>
            <li><a href="">Opinions</a></li>
            <li><a href="">Cats</a></li>
        </ul>
    </li>
    <li><a href="">All</a></li>
</ul>

            
            

   