// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .container {
//     margin: 0 auto;
//     width: 400px;
//     clear: both;
// }

// .container input {
//     width: 100%;
//     clear: both;
//     margin: 0;
//     padding: 0;
// }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form {
    margin: 0 auto;
    width: 400px;
    clear: both;

    input {
        width: 100%;
        clear: both;
        margin: 0;
        padding: 0;
    }
}
